<lp-searchbar 
    (searchResults)="onSearchResults($event)"
    [showSearch]="showSearchbar"></lp-searchbar>
<div class="absolute left-0 top-14 z-top md:right-0 md:left-auto shadow-2xl" *ngIf="searchResults?.features">
    <ul class="w-screen md:w-96 md:max-h-96 overflow-y-auto">
        <li 
            *ngFor="let searchResult of searchResults.features"
            class="bg-gray-100 border-b border-gray-400 px-2 py-4"
            (click)="updateLocation(searchResult.center)"
            >{{ searchResult.place_name }}</li>
    </ul>
</div>