<header class="w-screen h-14 bg-gray-700 flex items-center justify-between px-4">
    <h1 class="text-3xl text-yellow-600 font-semibold">LitPaths</h1>

    <div class="flex items-start">
        <button aria-label="Give feedback about LitPaths"
            class="px-2 py-1 border-gray-600 focus-within:border-yellow-600 border-solid border-2 rounded-md bg-gray-100">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScdm8MKGdySKlLVJRlaMebj4-CvA23IayE-m6UWmrzxjCUZOQ/viewform?usp=sf_link"
                target="_blank">
                <i class="icon-mail"></i>
            </a>
        </button>
        <lp-current-location-button></lp-current-location-button>
        <lp-location-search></lp-location-search>
    </div>
</header>