<div class="px-2 py-1 bg-gray-100 border-gray-600 focus-within:border-yellow-600 border-solid border-2 rounded-md transition-colors flex items-center">
    <input
        type="search" 
        class="bg-gray-100 text-sm w-0 md:w-60 transition-all appearance-none focus:outline-none"
        [class.w-32]="showSearch"
        name="search"
        [formControl]="search"
        autocapitalize="off"
        autocomplete="off"
        spellcheck="false"
        [lpFocusInput]="showSearch">
    <button (click)="handleSearchButton()">
        <i [class.icon-search]="!this.search.value" [class.icon-cancel]="this.search.value"></i>
    </button>
</div>